@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green: #294A32;
  --cream: #F5EBDD;
  --orange: #F9A914;
  --burnt-orange: #B96A35;
  --black: #050505;
  --coral: #E95E42;
}

@layer base {
  body {
    @apply antialiased text-black bg-cream;
  }
}

@layer utilities {
  .text-stroke-orange {
    -webkit-text-stroke: 1px var(--orange);
  }
  
  .filter-retro {
    filter: grayscale(80%) contrast(1.15) brightness(0.75);
  }
}

@media (pointer: fine) {
  body {
    cursor: none;
  }
  a, button, input, textarea, select {
    cursor: none;
  }
}
